<html>
  
  <head>
    <title>The Daily Update</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <div>
    <h1>The Daily Update</h1>
    <h2>News, Weather, and Adorable Animals Delivered to Your Inbox Every Morning</h2>
    <h4>Every morning, you'll get an email with the latest major headlines from the New York Times, a weather update for your area, and a random gif of an adorable animal. Access it all directly from your inbox!</h4>
    </div>
    <div>
    <h2>About</h2>
    Hi! We are two high school students from Manhattan (you can call us A&A), and we built this web app in a course run by the Flatiron School. Knowing how little time we ourselves have, we wanted to make it easier to keep up to date! So we made a program that would let us send an email every morning (5:30 am EST without Daylight Saving Time) to anyone who had subscribed to The Daily Update. On this email, we decided to put a gif of a puppy – because honestly, who doesn't love puppies? – so that they could start their day on a good note; the weather, fully personalizable for their area, so that they could dress appropriately and wouldn't have to check separately; and, of course, the news, seeing as we always wish that we were better informed about what's happening in the world, but never have time to actually check. The weather provides the high temperature, the low temperature, and the weather conditions for the day, and the news section gives the top 5 headlines of the day from the New York Times, with their abstracts and links to the full articles. We hope you enjoy The Daily Update!
    <br>
    <h2>Contact Us</h2>
    Please feel free to contact us with questions, comments, concerns, compliments (!), and anything else you can think of at founders@the-daily-update.com. If you are okay with having your feedback published on the website, please let us know, and make sure to tell us what you’d like to be credited as (we can do anonymous, initials, full name, etc.). We love hearing from you!
  <br>
  <br>
  </div>
  </body>
  
</html>
