<html>
  
  <head>
    <title>The Daily Update</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <div>
    <h1>The Daily Update</h1>
    <h2>News, Weather, and Adorable Animals Delivered to Your Inbox Every Morning</h2>
    <h4>Every morning, you'll get an email with the latest major headlines from the New York Times, a weather update for your area, and a random gif of an adorable puppy. Access it all directly from your inbox!</h4>
    </div>
    <div>
    <h2>Credits</h2>
    <h3>Thanks to...</h3>
    The Flatiron School High School Summer Program, Introduction to Software Engineering Course, where we received our coding education and learned how to build this program, and our teachers and TAs
    <br>
    Giphy, from where all of the gifs on our daily emails are sourced
    <br>
    The New York Times, which provides the headlines for our updates
    <br>
    Weather Underground, the database that allows us to include specific weather forecasts for our subscribers
    <br>
    All of our dedicated subscribers – this program wouldn’t have been successful without you
    <br>
    <h3>Image Citations</h3>
    Gif on the home page – http://gph.is/18RdGEG
    <br>
    Gif on the About/Contact Us page – http://gph.is/YBfpUQ 
    <br>
    Gif on the subscription confirmation page – http://www.glitterfy.com/graphics/Dog/ 
    <br>
    Background image – http://creativemindly.blogspot.com/2014/11/descargar-fondos-madera-carteles.html 
  <br>
  <br>
  <a href="/index">Home</a>
  <br>
  <br>
  </div>
  </body>
  
</html>
