<html>
  
  <head>
    <title>The Daily Update</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h1>The Daily Update</h1>
    <h2>News, Weather, and Adorable Animals Delivered to Your Inbox Every Morning</h2>
    <h4>Every morning, you'll get an email with the latest major headlines from the New York Times, a weather update for your area, and a random gif of an adorable puppy. Access it all directly from your inbox!</h4>

    <br>

    <form action="/subscribe" method="POST">
      <label>Just enter your email address here to subscribe to this daily email service! Don't worry, we won't use your email for anything but these updates.</label>
      <br>
      <input type="text" name="subscriber_email">
      <button value="submit">Submit</button>
    </form>

    <img src = "http://media.giphy.com/media/PCMg5k6WRnL5S/giphy.gif"/>
  </body>
  
</html>
