<html>
  
  <head>
    <title>The Daily Update</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <div>
    <h1>The Daily Update</h1>
    <h2>News, Weather, and Adorable Animals Delivered to Your Inbox Every Morning</h2>
    <h4>Every morning, you'll get an email with the latest major headlines from the New York Times, a weather update for your area, and a random gif of an adorable puppy. Access it all directly from your inbox!</h4>
    </div>
    <div>
    <h2>User Testimonials</h2>
    "This update is the first thing I look at in the morning. The puppy gif is amazing. It just brightens my day. I look at the weather, which prepares me for the day and then I scroll down to look at all the news, which is more often than not depressing. I scroll back up to look at the puppy gif and I am happy again. I just love the website. It combines three essential things in life - news, weather, and something to make you happy. Thank you for making it an essential part of my day." – A.G.
    <br>
    <br>
    "Whenever I get a daily email I learn about the weather and smile at the puppies. It is altogether a success." – K.Z.
  <br>
  <br>
  <a href="/index">Home</a>
  <br>
  <br>
  </div>
  </body>
  
</html>
