<html>
  
  <head>
    <title>The Daily Update</title>
  </head>
  
  <div class = "content">
    <body>
      <h1>The Daily Update</h1>
      <h2>News, Weather, and Adorable Animals Delivered to Your Inbox Every Morning</h2>
      <h4>Every morning, you'll get an email with the latest major headlines from the New York Times, a weather update, and a random gif of an adorable animal. Access it all directly from your inbox!</h4>
      <br>
      <h1>Thanks for subscribing! You should get your first email update soon!</h1>
    </body>
  </div>
  
</html>