<html>
  
  <head>
    <title>The Daily Update</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <div>
    <h1>The Daily Update</h1>
    <h2>News, Weather, and Adorable Animals Delivered to Your Inbox Every Morning</h2>
    <h4>Every morning, you'll get an email with the latest major headlines from the New York Times, a weather update for your area, and a random gif of an adorable puppy. Access it all directly from your inbox!</h4>
</div>
    <div>  
    <br>
    <form action="/thanks" method="POST">
      <label>Please enter your ZIP code here to get personalized weather updates for your area. If you would like to opt out and receive standardized weather updates for New York, NY (10028), please just type "opt out" in the box.</label>
      <br>
      <input type="text" name="zipcode">
      <button value="submit">Subscribe!</button>
    </form>
 </div>
  </body>
</html>
