body {
  background-color: #DFFFF4;
  text-align: center;
  font-family: baskerville;
  color: black;
}

/* .content {
  color: red;
  background: #9ADAF9;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
} */